*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

:root{
  --floral-white: #FFFCF2;
  --timberwolf: #CCC5B9;
  --black-olive: #403D39;
  --eerie-black: #252422;
  --flame: #EB5E28;
}

body{
  background-color: var(--floral-white);
  color: var(--eerie-black);
  font-size: 1.5em;
}

.checkbox{
  display: none;
}

.radio{
  display: block;
}

.bayan__container{
  width: 45%;
  margin: 1em auto;
}

.mem__content{
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  height: 0;
  background-color: var(--timberwolf);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}


.bayan__item{
  border: 0.01em solid var(--black-olive);
}

img{
  margin: 2em auto;
}

.mem__title{
  cursor: pointer;
  background-color: var(--timberwolf);
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: 100%;
}

.title__text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross{
  width: 2em;
  height: 2em;
  filter: brightness(0) saturate(100%) invert(13%) sepia(3%) saturate(724%) hue-rotate(11deg) brightness(102%) contrast(98%);
  background: url("./img/cross.svg") 0 0/100% auto no-repeat;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.3s ease;
}

input{
  display: none;
}

input:checked ~ .mem__title{
  background-color: var(--black-olive);
  color: var(--flame);
}

input:checked ~.mem__content {
  height: 25em;
}

input:checked ~ .mem__title .cross{
  filter: brightness(0) saturate(100%) invert(48%) sepia(82%) saturate(3133%) hue-rotate(347deg) brightness(97%) contrast(90%);
  transform: rotate(0);
}

@media (min-width: 821px) {
  label:hover ~ .mem__content {
    height: 25em;
  }
  .mem__content:hover {
    height: 25em;
  }
  .bayan__item:hover{
    color: var(--flame);
  }
  .mem__title:hover {
    color: var(--flame);
  }
  .bayan__container:hover .bayan__item .mem__title .cross{
    opacity: 1;
  }
}

@media (max-width: 821px) {
  body{
    font-size: 1.2em;
  }
  .bayan__container{
    width: 25em;
  }
  .cross{
    opacity: 1;
  }
  .checkbox{
  display: block;
  }
  .radio{
    display: none;
  }
}

@media (max-width: 768px) {
  .bayan__container{
    width: 70%;
  }
}

@media (max-width: 550px) {
  .bayan__container{
    width: 90%;
  }

}
@media (max-width: 376px) {
  img{
    width: 90%;
  }
  input:checked ~.mem__content {
    height: 20em;
  }
}