*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

:root{
  --floral-white: #FFFCF2;
  --timberwolf: #CCC5B9;
  --black-olive: #403D39;
  --eerie-black: #252422;
  --flame: #EB5E28;
}

body{
  background-color: var(--floral-white);
  color: var(--eerie-black);
}

.checkbox{
  display: none;
}

.radio{
  display: block;
}

.bayan__container{
  width: 80%;
  margin: 1rem auto;
}
.mem__content{
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  height: 0;
  background-color: var(--timberwolf);
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bayan__item{
  border: 0.01em solid var(--black-olive);
}
.mem__content img{
  margin: 2em auto;
}

.mem__title{
  cursor: pointer;
  background-color: var(--timberwolf);
  display: block;
  padding: 0.5em 1em;
  width: 100%;
  font-size: 18px;
  transition: .35s;
}

input{
  display: none;
}

input:checked ~ .mem__title{
  background-color: var(--black-olive);
  color: var(--flame);
}

input:checked ~.mem__content {
  height: auto;
}



@media (min-width: 821px) {
  label:hover ~ .mem__content {
    height: auto;
  }
  
  .mem__content:hover {
    height: auto;
  }
  
  .bayan__item:hover{
    color: var(--flame);
  }
  .mem__title:hover {
    color: var(--flame);
  }
}


@media (max-width: 821px) {
  .checkbox{
  display: block;
  }

  .radio{
    display: none;
  }
}